html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000; /* Ensures the background stays black */
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="%23008000" stroke="white" stroke-width="1.5" d="M8.2,2.2c0,0,0,21.2,0,21.2l5.3-5.3l3.3,7.6l3.4-1.5l-3.3-7.6l6.3,0L8.2,2.2z"/></svg>'), auto;}

canvas {
    display: block; /* Removes any weird gaps */
    width: 100vw;  /* Full width of the screen */
    height: 100vh; /* Full height of the screen */
    background: #000; 
}

#valentinesButton {
    display: none;
    position: absolute;
    background-color: #006400; /* Dark Green */
    border: 2px solid #008000;
    color: #fff;
    cursor: pointer;
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 10px;
    top: 80%; /* Moves it toward the bottom so it doesn't cover text */
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    z-index: 999; /* Ensures the button stays on top of the stars */
}

#valentinesButton:hover {
    background-color: #008000;
    box-shadow: 0 0 20px rgba(0, 255, 127, 0.6);
}
